id: 'python'
name: 'Python'
type: 'tree-sitter'
parser: 'tree-sitter-python'
legacyScopeName: 'source.python'

fileTypes: [
  'py'
  'pyi'
  'pyw'
  'gyp'
  'gypi'
  'SConstruct'
  'Sconstruct'
  'sconstruct'
  'SConscript'
  'wsgi'
]

folds: [
  {
    type: [
      'if_statement'
      'for_statement'
      'try_statement'
      'with_statement'
      'while_statement'
      'class_definition'
      'function_definition'
      'async_function_definition'
    ]
    start: {type: ':'}
  }
  {
    start: {type: '(', index: 0}
    end: {type: ')', index: -1}
  },
  {
    start: {type: '[', index: 0}
    end: {type: ']', index: -1}
  },
  {
    start: {type: '{', index: 0}
    end: {type: '}', index: -1}
  }
]

comments:
  start: '# '

scopes:
  'module': 'source.python'

  'comment': 'comment.line'
  'string': 'string.quoted'

  'class_definition > identifier': 'entity.name.type.class'
  'function_definition > identifier': 'entity.name.function'
  'call > identifier:nth-child(0)': 'entity.name.function'
  'call > attribute > identifier:nth-child(2)': 'entity.name.function'

  'attribute > identifier:nth-child(2)': 'variable.other.object.property'

  'decorator': 'entity.name.function.decorator'

  'none': 'constant.language'
  'true': 'constant.language'
  'false': 'constant.language'
  'integer': 'constant.numeric'
  'float': 'constant.numeric'

  'type > identifier': 'support.storage.type'

  '"class"': 'storage.type.class'
  '"def"': 'storage.type.function'
  '"lambda"': 'storage.type.function'
  '"nonlocal"': 'storage.modifier.nonlocal.python'
  '"global"': 'storage.modifier.global.python'

  '"import"': 'keyword.control.import.from.python'

  '"elif"': 'keyword.control.conditional.python'
  '"else"': 'keyword.control.conditional.python'
  '"if"': 'keyword.control.conditional.python'

  '"except"': 'keyword.control.exception.python'
  '"finally"': 'keyword.control.exception.python'
  '"try"': 'keyword.control.exception.python'

  '"for"': 'keyword.control.repeat.python'
  '"while"': 'keyword.control.repeat.python'

  '"return"': 'keyword.control.statement.python'
  '"break"': 'keyword.control.statement.python'
  '"continue"': 'keyword.control.statement.python'
  '"raise"': 'keyword.control.statement.python'
  '"yield"': 'keyword.control.statement.python'
  '"await"': 'keyword.control.statement.python'
  '"with"': 'keyword.control.statement.python'

  '"as"': 'keyword.other.python'
  '"assert"': 'keyword.other.python'
  '"del"': 'keyword.other.python'
  '"async"': 'keyword.other.python'
  '"from"': 'keyword.other.python'

  # Those are handled as "built-in functions" below
  # '"exec"': 'keyword.deprecated.python'
  # '"print"': 'keyword.deprecated.python'

  '"+"': 'keyword.operator'
  '"-"': 'keyword.operator'
  '"*"': 'keyword.operator'
  '"**"': 'keyword.operator'
  '"/"': 'keyword.operator'
  '"//"': 'keyword.operator'
  '"%"': 'keyword.operator'
  '"@"': 'keyword.operator'
  '"in"': 'keyword.operator.logical.python'
  '"and"': 'keyword.operator.logical.python'
  '"or"': 'keyword.operator.logical.python'
  '"not"': 'keyword.operator.logical.python'
  '"is"': 'keyword.operator.logical.python'
  '"=="': 'keyword.operator.comparison.python'
  '"!="': 'keyword.operator.comparison.python'
  '"<="': 'keyword.operator.comparison.python'
  '">="': 'keyword.operator.comparison.python'
  '"<"': 'keyword.operator.comparison.python'
  '">"': 'keyword.operator.comparison.python'
  '"="': 'keyword.operator.assignment.python'
  '"+="': 'keyword.operator.assignment.python'
  '"-="': 'keyword.operator.assignment.python'
  '"*="': 'keyword.operator.assignment.python'
  '"**="': 'keyword.operator.assignment.python'
  '"/="': 'keyword.operator.assignment.python'
  '"//="': 'keyword.operator.assignment.python'
  '"%="': 'keyword.operator.assignment.python'
  '"@="': 'keyword.operator.assignment.python'

  '"("': 'punctuation.parenthesis'
  '")"': 'punctuation.parenthesis'
  '"{"': 'punctuation'
  '"}"': 'punctuation'
  '"["': 'punctuation'
  '"]"': 'punctuation'
  '"."': 'punctuation'
  '","': 'punctuation'
  '";"': 'punctuation'
  '":"': 'punctuation'
  '"->"': 'punctuation'

  '"__build_class__"': 'support.function.builtin.python'
  '"__import__"': 'support.function.builtin.python'
  '"BuiltinImporter"': 'support.function.builtin.python'
  '"abs"': 'support.function.builtin.python'
  '"all"': 'support.function.builtin.python'
  '"any"': 'support.function.builtin.python'
  '"ascii"': 'support.function.builtin.python'
  '"bin"': 'support.function.builtin.python'
  '"bool"': 'support.function.builtin.python'
  '"bytearray"': 'support.function.builtin.python'
  '"bytes"': 'support.function.builtin.python'
  '"callable"': 'support.function.builtin.python'
  '"chr"': 'support.function.builtin.python'
  '"classmethod"': 'support.function.builtin.python'
  '"compile"': 'support.function.builtin.python'
  '"complex"': 'support.function.builtin.python'
  '"delattr"': 'support.function.builtin.python'
  '"dict"': 'support.function.builtin.python'
  '"dir"': 'support.function.builtin.python'
  '"divmod"': 'support.function.builtin.python'
  '"enumerate"': 'support.function.builtin.python'
  '"eval"': 'support.function.builtin.python'
  '"exec"': 'support.function.builtin.python'
  '"filter"': 'support.function.builtin.python'
  '"float"': 'support.function.builtin.python'
  '"format"': 'support.function.builtin.python'
  '"frozenset"': 'support.function.builtin.python'
  '"getattr"': 'support.function.builtin.python'
  '"globals"': 'support.function.builtin.python'
  '"hasattr"': 'support.function.builtin.python'
  '"hash"': 'support.function.builtin.python'
  '"hex"': 'support.function.builtin.python'
  '"id"': 'support.function.builtin.python'
  '"input"': 'support.function.builtin.python'
  '"int"': 'support.function.builtin.python'
  '"isinstance"': 'support.function.builtin.python'
  '"issubclass"': 'support.function.builtin.python'
  '"iter"': 'support.function.builtin.python'
  '"len"': 'support.function.builtin.python'
  '"list"': 'support.function.builtin.python'
  '"locals"': 'support.function.builtin.python'
  '"map"': 'support.function.builtin.python'
  '"max"': 'support.function.builtin.python'
  '"memoryview"': 'support.function.builtin.python'
  '"min"': 'support.function.builtin.python'
  '"next"': 'support.function.builtin.python'
  '"object"': 'support.function.builtin.python'
  '"oct"': 'support.function.builtin.python'
  '"open"': 'support.function.builtin.python'
  '"ord"': 'support.function.builtin.python'
  '"pow"': 'support.function.builtin.python'
  '"print"': 'support.function.builtin.python'
  '"property"': 'support.function.builtin.python'
  '"range"': 'support.function.builtin.python'
  '"repr"': 'support.function.builtin.python'
  '"reversed"': 'support.function.builtin.python'
  '"round"': 'support.function.builtin.python'
  '"set"': 'support.function.builtin.python'
  '"setattr"': 'support.function.builtin.python'
  '"slice"': 'support.function.builtin.python'
  '"sorted"': 'support.function.builtin.python'
  '"staticmethod"': 'support.function.builtin.python'
  '"str"': 'support.function.builtin.python'
  '"sum"': 'support.function.builtin.python'
  '"super"': 'support.function.builtin.python'
  '"tuple"': 'support.function.builtin.python'
  '"type"': 'support.function.builtin.python'
  '"vars"': 'support.function.builtin.python'
  '"zip"': 'support.function.builtin.python'

  '"BaseException"': 'support.exception.python'
  '"Exception"': 'support.type.exception.python'
  '"TypeError"': 'support.type.exception.python'
  '"StopAsyncIteration"': 'support.type.exception.python'
  '"StopIteration"': 'support.type.exception.python'
  '"ImportError"': 'support.type.exception.python'
  '"ModuleNotFoundError"': 'support.type.exception.python'
  '"OSError"': 'support.type.exception.python'
  '"ConnectionError"': 'support.type.exception.python'
  '"BrokenPipeError"': 'support.type.exception.python'
  '"ConnectionAbortedError"': 'support.type.exception.python'
  '"ConnectionRefusedError"': 'support.type.exception.python'
  '"ConnectionResetError"': 'support.type.exception.python'
  '"BlockingIOError"': 'support.type.exception.python'
  '"ChildProcessError"': 'support.type.exception.python'
  '"FileExistsError"': 'support.type.exception.python'
  '"FileNotFoundError"': 'support.type.exception.python'
  '"IsADirectoryError"': 'support.type.exception.python'
  '"NotADirectoryError"': 'support.type.exception.python'
  '"InterruptedError"': 'support.type.exception.python'
  '"PermissionError"': 'support.type.exception.python'
  '"ProcessLookupError"': 'support.type.exception.python'
  '"TimeoutError"': 'support.type.exception.python'
  '"EOFError"': 'support.type.exception.python'
  '"RuntimeError"': 'support.type.exception.python'
  '"RecursionError"': 'support.type.exception.python'
  '"NotImplementedError"': 'support.type.exception.python'
  '"NameError"': 'support.type.exception.python'
  '"UnboundLocalError"': 'support.type.exception.python'
  '"AttributeError"': 'support.type.exception.python'
  '"SyntaxError"': 'support.type.exception.python'
  '"IndentationError"': 'support.type.exception.python'
  '"TabError"': 'support.type.exception.python'
  '"LookupError"': 'support.type.exception.python'
  '"IndexError"': 'support.type.exception.python'
  '"KeyError"': 'support.type.exception.python'
  '"ValueError"': 'support.type.exception.python'
  '"UnicodeError"': 'support.type.exception.python'
  '"UnicodeEncodeError"': 'support.type.exception.python'
  '"UnicodeDecodeError"': 'support.type.exception.python'
  '"UnicodeTranslateError"': 'support.type.exception.python'
  '"AssertionError"': 'support.type.exception.python'
  '"ArithmeticError"': 'support.type.exception.python'
  '"FloatingPointError"': 'support.type.exception.python'
  '"OverflowError"': 'support.type.exception.python'
  '"ZeroDivisionError"': 'support.type.exception.python'
  '"SystemError"': 'support.type.exception.python'
  '"ReferenceError"': 'support.type.exception.python'
  '"BufferError"': 'support.type.exception.python'
  '"MemoryError"': 'support.type.exception.python'
  '"Warning"': 'support.type.exception.python'
  '"UserWarning"': 'support.type.exception.python'
  '"DeprecationWarning"': 'support.type.exception.python'
  '"PendingDeprecationWarning"': 'support.type.exception.python'
  '"SyntaxWarning"': 'support.type.exception.python'
  '"RuntimeWarning"': 'support.type.exception.python'
  '"FutureWarning"': 'support.type.exception.python'
  '"ImportWarning"': 'support.type.exception.python'
  '"UnicodeWarning"': 'support.type.exception.python'
  '"BytesWarning"': 'support.type.exception.python'
  '"ResourceWarning"': 'support.type.exception.python'
  '"GeneratorExit"': 'support.type.exception.python'
  '"SystemExit"': 'support.type.exception.python'
  '"KeyboardInterrupt"': 'support.type.exception.python'
